@*Khai báo để sử dụng chức năng phân trang*@
@using SachOnline.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SachOnline.Models.SACH>

@*Xây dựn một helper tùy chỉnh để cắt độ dài chuỗi*@
@helper Truncate(string s, int length)
{
    if (s.Length < length) 
    {@s }
    else
    {
        @s.Substring(0, length) <text > ... </text>
    }                                              
}

<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;"> QUẢN LÝ THÔNG TIN XE</h2>
<p> @Html.ActionLink("Thêm xe mới", "Create") </p>
<table class="table">
    <tr>
        <th style="text-align:center;width:150px">
            Tên
        </th>
        <th style="text-align:center;width:250px">
            Mô tả
        </th>
        <th style="text-align:center;width:100px">
            Ảnh 
        </th>
        <th style="text-align:center;width:80px">
            Ngày cập nhật
        </th>
        <th style="text-align:center;width:0px">
            SL
        </th>
        <th style="text-align:center;width:80px">
            Giá bán
        </th>
        <th style="text-align:center;width:80px">
            Hãng SX
        </th>
        <th style="text-align:center;width:80px">
            Xuất xứ
        </th>
        <th style="text-align:center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*Sử dụng helper để cắt TenSach lấy 50 ký tự*@
                @Truncate(item.TenSach, 50)
            </td>
            <td>
                @*Sử dụng helper để cắt MoTa lấy 70 ký tự*@
                @Html.Raw(Truncate(item.Mota, 70).ToString())
            </td>
            <td>
                <img src="~/Images/@item.anhSP" style="width:50px;" />
            </td>
            <td>
                @*Định dạng hiển thị*@
                @Html.FormatValue(@item.NgayCapNhat, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.FormatValue(item.GiaBan, "{0:#,##0}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNhaXuatBan)
            </td>
            <td>              
                <a href="@Url.Action("Edit", new { id = item.SachID })" class="btn btn-warning" role="button"> Sửa </a>
                <a href="@Url.Action("Details", new { id = item.SachID })" class="btn btn-primary" role="button"> Chi tiết </a>
                <a href="@Url.Action("Delete", new { id = item.SachID })" class="btn btn-danger" role="button"> Xóa </a>
            </td>
        </tr>
    }
</table>

@*Tạo liên kết phần trang*@
Trang @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>


